@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Condensed:wght@700&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;;
}
body{
    background-color: aqua;
}
.random-quotes{
 background-color: bisque;
 width: 700;
 position: absolute;
 top:50%;
 left: 50%;
 padding: 40px;
 transform: translate(-50%,-50%);
 border-radius: 10px;
 text-align: center;
 box-shadow: 0 10px 20px 0px rgb(0,0,0,0.15);

}.random-quotes h3{
    font-size: 32px;
    margin-bottom: 40px;
    position: relative;
}
.random-quotes h3::after{
    content: '';
    width: 75px;
    height: 3px;
    border-radius: 3px;
    background: rgb(23, 124,229);
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
}
.random-quotes blockquote{
    font-size: 26px;
    min-height: 110px;
}
.random-quotes blockquote::before, .random-quotes::after{
    content: '"';
}
.random-quotes span{
    display: block;
    margin-top: 10px;
    float: right;
    position: relative;
}
.random-quotes span::before{
    content: '';
    width: 20px;
    height: 20px;
    
    position: absolute;
    top:50%;
    left: -30px;
}
.random-quotes div{
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content:center;
}
.random-quotes button{
    background-color: rgb(23, 124,229);
    color:#fff;
    border-radius: 25px;
    border: 1px solid rgb(23,124,229);
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    cursor: pointer;

}
.fas{
    color: black;
}